header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 25px;
  font-weight: 600;
  background-color: #6399ef;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
